@import '../variables';
@import '../mixins';

section{
    h2{
        text-align: center;
        color: $btnBgColor;
    }
    label{
        display: block;
        margin: 2% 25%;
    }
    input{
        display: block;
        width: 50%;
        margin: 2% 24%;
        border: thin solid #000;
        @include mQs(760px){
            height: 30px;
        }
    }
    button{
        @include btnBlock;
        padding: 3px 10px !important;
        font-size: 1em;
        margin: 2% auto;
        @include mQs(400px){
            height: 37px;  
        }
        @include mQs(760px){
            height: 45px;
        }
    }
}