@import '../../mixins';
@import '../../variables';

.container{
    h4{
        margin: 4px 0;
    }
    button{
        @include btnBlock;
        margin: auto;
        @include mQs(760px){
            width: 60%;
            height: 50px;
        }
    }
}